//! **************************************************************************
// Written by: Map P.20131013 on Fri Nov 08 21:04:29 2019
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

